/*--------------- Google fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;700&family=Zilla+Slab:wght@400;700&display=swap');

/*--------------- Custom properties ---------------*/

:root {
  --main-bg-color: #fffae4;
  --header-bg-color: #feed9f;
  --trade-bg-color: #feed9f80;
  --text-color: #5e5450;
  --accent-color: #fea600;
}

/*--------------- Basic styling ---------------*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: var(--text-color);
}

html,
body {
  overflow-x: hidden;
}

body,
main,
header,
footer {
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  background: url("../images/leaf-pattern-mobile.png") top center / cover;
  font-family: 'Libre Franklin', sans-serif;
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

/* Source: Kevin Powell's "Easy sticky footer"(https://www.youtube.com/watch?v=yc2olxLgKLk) and Gábor Móczik's comment */

footer {
  justify-self: flex-end;
  align-items: center;
  width: 100%;
  padding: 1.2em 0;
  background-color: var(--header-bg-color);
}

h1,
h2 {
  font-family: 'Zilla Slab', serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color .5s ease-in-out, transform .5s ease-in-out;
}

a:focus-visible,
.btn:focus-visible {
  outline: 3px solid var(--accent-color);
  outline-offset: .3em;
  border-radius: 5px;
}

a:hover {
  transform: scale(1.1);
  transition: color .5s ease-in-out, transform .5s ease-in-out;
}

svg {
  overflow: visible;
}

path {
  fill: var(--text-color);
  transition: transform .5s ease-in-out;
}

*:hover>path {
  transform: scale(1.2);
  transform-origin: center;
  transition: transform .5s ease-in-out;
}

/* Button - for the Home, About, Contact, Success and 404 page */

.btn {
  margin: 1em auto 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
  border: none;
  border-radius: 20px;
  width: fit-content;
  padding: 1em 1.8em;
  background-color: var(--header-bg-color);
  color: inherit;
  font-family: 'Zilla Slab', serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  white-space: normal;
  transition: background-color .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--text-color);
  color: var(--main-bg-color);
  transition: background-color .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out;
}

/* Making background colour wider than max-width */
/* Source: Chris Coyier's "Full Browser Width Bars"(https://css-tricks.com/full-browser-width-bars/) */

.header::before,
.header::after,
.trading-guide::before,
.trading-guide::after,
.contact-form::before,
.contact-form::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 999rem;
  height: 100%;
  background-color: var(--main-bg-color);
}

.header::after,
.trading-guide::after,
.contact-form::after {
  left: 100%;
}

.header::before,
.header::after {
  background-color: var(--header-bg-color);
}

/*=============== Home Page ===============*/

/*--------------- Header ---------------*/

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  margin: auto;
  width: 100%;
  max-width: 87.5rem;
  background-color: var(--header-bg-color);
}

.header a {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header>a:focus {
  outline-offset: -0.5em;
}

.logo {
  margin: .5em 0 .5em 1em;
  width: 7em;
}

.nav {
  position: relative;
  width: 100%;
}

.nav>* {
  position: absolute;
}

.nav-toggle-input,
.nav-toggle-label {
  bottom: 100%;
  right: 1em;
  margin-bottom: 1.2em;
}

.nav-toggle-input {
  width: 2em;
  height: 2em;
  opacity: 0;
}

.nav-toggle-icon {
  position: absolute;
  bottom: 100%;
  right: .3em;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.nav-toggle-icon.open {
  transform: scale(1, 1);
  transition: transform .5s ease-in-out .3s;
}

.nav-toggle-icon.close {
  transform: scale(1, 0);
  transition: transform .5s ease-in-out;
}

/* Source: Kevin Powell's "Create a responsive navigation nav with no JS!"(https://www.youtube.com/watch?v=8QKOaTYvYUA&t=1402s) */

.nav-toggle-input:checked~.nav-toggle-label>.nav-toggle-icon {
  transform: scale(1, 0);
  transition: transform .5s ease-in-out;
}

.nav-toggle-input:checked~.nav-toggle-label>.nav-toggle-icon.close {
  transform: scale(1);
  transition: transform .5s ease-in-out .3s;
}

/*--------------- Navigation menu (hidden by default on mobile) ---------------*/

.nav-menu {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1, 0);
  transform-origin: top;
  width: 100%;
  background-color: var(--header-bg-color);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: transform .5s ease-in-out;
}

.menu-item {
  margin-bottom: 1.5em;
  padding: .6em 1em;
}

.menu-item:hover,
.menu-item.active {
  border-radius: 35%;
  background-color: var(--main-bg-color);
}

.menu-item.active {
  text-decoration: underline var(--text-color) solid 2px;
  text-underline-offset: 5px;
}

.nav-toggle-input:checked~.nav-menu {
  transform: scale(1, 1);
  transition: transform .5s ease-in-out;
}

/*--------------- Hero section ---------------*/

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40em;
  padding: 2em;
  background: url("../images/hero-image-mobile.webp") center bottom/cover no-repeat;
  text-align: center;
}

.hero-title,
.hero-description {
  width: 90%;
  background-color: var(--trade-bg-color);
}

.hero-title {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: .5em .4em;
}

.hero-description {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 .5em .5em;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
}

/*--------------- Reasons section ---------------*/

.reasons-trading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
}

.reasons-title {
  margin: 1.5em auto;
}

.reasons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* NPC and speech bubble - for the Home, Success and 404 page */

.npc-container {
  position: relative;
  width: 100%;
  max-width: 21.875rem;
  height: 20rem;
  padding: 1.1em;
}

.npc-container>* {
  position: absolute;
}

.npc-img {
  height: 80%;
}

/* Positioning 1st + 3rd NPC's images and 2nd NPC's speech bubble on the right side */

.npc-container:nth-child(2n+1)>.npc-img,
.npc-container:nth-child(2)>.speech-bubble {
  right: 1.1rem;
}

.speech-bubble {
  bottom: 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
  border: 2px solid var(--header-bg-color);
  border-radius: 50px;
  padding: 1em 3em;
  background-color: var(--main-bg-color);
}

.npc-name {
  position: absolute;
  bottom: 80%;
  left: 10%;
  border-radius: 50px;
  padding: .5em;
  background-color: var(--header-bg-color);
  font-weight: 700;
}

.npc-speech {
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

/*--------------- Footer ---------------*/

.social-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 15em;
}

.social-icon {
  height: 1.5rem;
}

/*=============== About page ===============*/

.about-title {
  padding: 1em 0;
  text-align: center;
}

.story-container {
  display: flex;
  flex-direction: column;
  margin: 1em 1.1em 2em;
  border-radius: 10px;
  padding: 2em 1.1em;
  background-color: var(--main-bg-color);
}

.story-img-container {
  margin: auto;
  max-width: 20rem;
  text-align: center;
}

.story-img {
  width: 100%;
}

.story-text {
  width: 100%;
  padding: 1.1em 0;
  line-height: 2;
}

/*=============== Items page ===============*/

.trade-header {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 87.5rem;
}

.trade-title {
  margin: 2em auto .5em;
}

.trade-menu {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 87.5rem;
}

.trade-menu li {
  width: fit-content;
}

.trade-menu li:nth-child(2) {
  margin: 0 .2em;
}

.trade-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  padding: .5em 1em;
  background-color: var(--main-bg-color);
  font-size: 1rem;
  transition: border .5s ease-in-out, box-shadow .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out;
}

.trade-menu a:hover {
  transform-origin: top;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  border: 2px solid var(--accent-color);
  transition: border .5s ease-in-out, box-shadow .5s ease-in-out, color .5s ease-in-out, transform .5s ease-in-out;
}

.trade-menu img {
  width: 1.5rem;
}

/*--------------- Trading guide ---------------*/

.trading-guide {
  position: relative;
  width: 100%;
  padding: 1.1em;
  background-color: var(--main-bg-color);
}

.trading-guide>ol {
  padding: 0 1.1em 1.1em;
  line-height: 1.5;
}

.date {
  position: absolute;
  z-index: 9;
  top: 100%;
  right: 1.1rem;
}

/*--------------- Item list(sell, buy, trade) section ---------------*/

/* Source: Chris Coyier's "Fixed Headers and Jump Links? The Solution is scroll-margin-top"(https://css-tricks.com/fixed-headers-and-jump-links-the-solution-is-scroll-margin-top/) */

.trade-type-container {
  scroll-margin-top: 7em;
  width: 100%;
  padding: 1.1em;
  background-color: var(--trade-bg-color);
}

/* Individual item */

.item-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: 1rem;
  margin-top: 1.5em;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  padding: .5em;
  background-color: var(--main-bg-color);
  text-align: center;
  transition: box-shadow .5s ease-in-out, transform .5s ease-in-out;
}

.item:hover {
  transform: translateY(-1rem);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: box-shadow .5s ease-in-out, transform .5s ease-in-out;
}

.item-img {
  width: 70%;
  max-width: 10em;
}

.item-name {
  margin: 0 auto .2em;
  font-size: .9rem;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bell-img,
.ticket-img {
  width: 1.5rem;
}

/* Popup message */

.popup {
  z-index: 10;
  position: absolute;
  right: 5%;
  bottom: 10%;
  border-radius: 10px;
  padding: 1em;
  background-color: var(--header-bg-color);
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.social-icon.small {
  vertical-align: text-top;
  height: 1rem;
}

/*=============== Contact page ===============*/

.contact-title {
  padding: 1em 0;
  text-align: center;
}

/* Source: Ziratsu's CSS Carousel(https://codepen.io/Ziratsu/pen/ZEKWaRv) */

.frame {
  overflow: hidden;
  margin: 0 auto 2em;
  border-radius: 10px;
  width: 90%;
  max-width: 87.5rem;
  height: 8em;
  background-color: var(--main-bg-color);
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 500%;
  animation: carousel 20s infinite linear;
}

@keyframes carousel {

  0% {
    transform: translateY(20%);
  }

  2%,
  17% {
    transform: translateY(0);
  }

  22%,
  37% {
    transform: translateY(-20%);
  }

  42%,
  57% {
    transform: translateY(-40%);
  }

  62%,
  77% {
    transform: translateY(-60%);
  }

  82%,
  97% {
    transform: translateY(-80%);
  }

  100% {
    transform: translateY(-100%);
  }

}

.contact-text {
  width: 100%;
  max-width: 87.5rem;
  padding: 0 1em;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 1.1em;
  background-color: var(--main-bg-color);
}

.contact-form label {
  margin: 1em 0 .3em;
}

input {
  border: none;
  border-bottom: 1px solid var(--text-color);
  padding: .5em;
  background-color: inherit;
}

textarea {
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  padding: .5em;
  background-color: inherit;
}

input:focus,
textarea:focus {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
  border-bottom: 3px solid var(--accent-color);
  outline: none;
}

.privacy-link {
  text-decoration: underline;
}

.privacy {
  overflow-y: scroll;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  height: 7rem;
  padding: .5em;
}

.privacy h2 {
  margin-bottom: .5em;
  font-size: 1.1rem;
  font-family: 'Libre Franklin', sans-serif;
}

.privacy strong {
  display: block;
  margin-top: .5em;
}

.privacy h2~* {
  font-size: .9rem;
}

.privacy ul {
  padding-left: 1em;
  list-style-type: disc;
}

/*=============== Feedback(success, 404) page ===============*/

.feedback-main {
  justify-content: center;
  align-items: center;
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/

/*=============== Medium screen size devices from 48rem/768px width  ===============*/

@media screen and (min-width: 48rem) {

  body {
    background: url("../images/leaf-pattern.png") top center / cover;
  }

  h1 {
    font-size: 2.5rem;
  }

  /*--------------- Header ---------------*/

  .header {
    flex-direction: row;
  }

  .logo {
    margin: .5em 1em;
    width: 9em;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
  }

  /* Hide checkbox and collapsible navigation open/close icons */

  .nav-toggle-input,
  .nav-toggle-label {
    display: none;
  }

  .nav-menu {
    position: unset;
    display: flex;
    flex-direction: row;
    transform: unset;
    width: unset;
    font-size: 1.2rem;
  }

  .nav-menu>li {
    margin-left: 1em;
  }

  .menu-item {
    margin-bottom: unset;
  }

  /*--------------- Hero Section ---------------*/

  .hero-title,
  .hero-description {
    width: unset;
  }

  .hero-title {
    margin-top: 1.35em;
    font-size: 3rem;
  }

  .hero-description {
    padding: 0 4.8em .5em;
  }

  .reasons-title {
    font-size: 2rem;
  }

  /*--------------- About Page ---------------*/

  .stories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    margin: auto;
    max-width: 87.5rem;
  }

  .about-title,
  .story-container:nth-child(2) {
    grid-column: span 2;
    flex-direction: row;
  }

  .story-text {
    flex: 1;
    padding: 1.1em;
  }

  .story-container:nth-child(2) .story-text {
    margin-left: 2em;
  }

  .story-container:nth-child(2) .story-text h2 {
    margin-top: 0;
  }

  .story-text h2 {
    margin-top: 1em;
  }

  .story-text p {
    font-size: 1.1rem;
  }

  /*--------------- Items page ---------------*/

  .trade-header,
  .trade-menu {
    width: 45rem;
  }

  .trade-title {
    margin-top: 1em;
  }

  .trade-type-container {
    scroll-margin-top: 8em;
  }

  .item-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    padding: 2em 0;
  }

  .item:first-child {
    grid-row: span 2;
  }

  .sell .item:last-child {
    grid-row: 3 / span 2;
    grid-column: 3;
  }

  .giveaway .item:nth-child(2) {
    grid-row: span 2;
  }

  .item-name {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .price {
    font-size: 1.3rem;
  }

  .price-bell {
    margin-right: 1em;
  }

  /*--------------- Contact page ---------------*/

  .contact-text {
    font-size: 1.5rem;
  }

}

/*=============== Large screen size devices from 64rem/1024px width  ===============*/

@media screen and (min-width: 64rem) {

  /*--------------- Home page ---------------*/

  .hero-section {
    background: url("../images/hero-image.webp") center bottom/cover no-repeat;
  }

  .reasons-container {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3em;
    max-width: 87.5rem;
  }

  .npc-container {
    height: 25rem;
  }

  .npc-container:nth-child(2n+1)>.npc-img,
  .npc-img {
    right: 0;
  }

  .npc-container:nth-child(2)>.speech-bubble {
    right: unset;
  }

  .speech-bubble {
    bottom: 0;
    left: 0;
    padding: 1.5em 3em;
  }

  .npc-name {
    font-size: 1.4rem;
  }

  .npc-speech {
    font-size: 1.3rem;
  }

  /*--------------- About Page ---------------*/

  .story-container:nth-child(2) {
    margin: auto;
    max-width: 70%;
  }

  .story-text p {
    letter-spacing: .8px;
  }

  /*--------------- Items Page ---------------*/

  .trading-guide,
  .trade-type-container {
    margin: auto;
    max-width: 87.5rem;
  }

  .item-list {
    grid-template: repeat(3, 250px) / repeat(5, 1fr);
  }

  .item-list:last-child {
    grid-template-rows: repeat(2, 250px);
  }

  .item:first-child {
    grid-column: span 2;
  }

  .sell .item:nth-last-child(-n+2) {
    grid-row: 2 / span 2;
  }

  .sell .item:nth-last-child(2) {
    grid-column: 4;
  }

  .sell .item:last-child {
    grid-column: 5;
  }

  .buy .item:nth-child(2) {
    grid-row: span 2;
  }

  .buy .item:last-child {
    grid-row: 2 / span 2;
    grid-column: 4 / span 2;
  }

  .giveaway .item {
    grid-row: span 2;
  }

  /*--------------- Contact Page ---------------*/

  .contact-text {
    font-weight: 500;
  }

  .contact-form {
    display: grid;
    grid-template-rows: repeat(10, 2rem);
    grid-template-columns: 1fr 1fr;
    gap: .6rem 2rem;
    margin: 1em auto 0;
    max-width: 87.5rem;
  }

  .contact-form * {
    grid-column: 1;
  }

  .contact-form label:nth-last-child(-n+6),
  .contact-form textarea,
  .contact-form article {
    grid-column: 2;
  }

  .contact-form label[for="msg"] {
    grid-row: 1;
  }

  .contact-form textarea {
    grid-row: 2 / span 4;
  }

  .contact-form label:nth-last-child(4) {
    grid-row: 6;
  }

  .contact-form article {
    grid-row: 7 / span 4;
  }

  .contact-form label:nth-last-child(2) {
    grid-row: 10;
  }

  .contact-form .btn {
    grid-column: span 2;
  }

}