/*--------------- Google fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;700&family=Zilla+Slab:wght@400;700&display=swap');

/*--------------- Custom properties ---------------*/

:root {
  --main-bg-color: #fffae4;
  --header-bg-color: #feed9f;
  --trade-bg-color: #feed9f80;
  --text-color: #5e5450;
  --accent-color: #fea600;
}

/*--------------- Basic styling ---------------*/

* {
  box-sizing: border-box;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  background: url("../images/leaf-pattern-mobile.png") top center / cover;
  display: flex;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

/* I have learned the method of using flex(to the main) and justify-self property(to the footer) for fixing footer from Kevin powell's YouTube video(https://www.youtube.com/watch?v=yc2olxLgKLk) and Gábor Móczik's comment. */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-bg-color);
  width: 100%;
  padding: 1.2rem 0;
}

h1,
h2 {
  font-family: 'Zilla Slab', serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.7rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid var(--accent-color);
  outline-offset: .3em;
  border-radius: 5px;
}

path {
  fill: var(--text-color);
  transition: fill .5s ease-in-out;
}

*:hover>path {
  fill: var(--accent-color);
  transition: fill .5s ease-in-out;
}

/*=============== Landing Page ===============*/

/*--------------- Header ---------------*/

.header {
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: column;
  position: sticky;
  margin: auto;
  max-width: 87.5rem;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* This method is on CSS-TRICKS(https://css-tricks.com/full-browser-width-bars/). I have learned from this tutorial how to make background colour wider than maximum width of the elements.  */

.header::before,
.header::after {
  content: "";
  background-color: var(--header-bg-color);
  position: absolute;
  right: 100%;
  height: 100%;
  width: 9999rem;
}

.header::after {
  left: 100%;
}

.header a {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header>a:focus {
  outline-offset: -0.5em;
}

.logo {
  width: 7em;
  margin: .5em 0 .5em 1em;
}

.nav {
  position: relative;
  width: 100%;
}

.nav>* {
  position: absolute;
}

.nav-toggle-input,
.nav-toggle-label {
  bottom: 100%;
  right: 1em;
  margin-bottom: 1.2em;
}

.nav-toggle-input {
  width: 2em;
  height: 2em;
  opacity: 0;
}

.nav-toggle-icon {
  cursor: pointer;
  position: absolute;
  height: 2em;
  width: 2em;
  right: .3em;
  bottom: 100%;
}

.nav-toggle-icon.open {
  transform: scale(1, 1);
  transition: transform .5s ease-in-out .3s;
}

.nav-toggle-icon.close {
  transform: scale(1, 0);
  transition: transform .5s ease-in-out;
}

.nav-toggle-input:checked~.nav-toggle-label>.nav-toggle-icon {
  transform: scale(1, 0);
  transition: transform .5s ease-in-out;
}

.nav-toggle-input:checked~.nav-toggle-label>.nav-toggle-icon.close {
  transform: scale(1);
  transition: transform .5s ease-in-out .3s;
}

/*--------------- Navigation menu (hidden by default on mobile) ---------------*/

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-bg-color);
  font-size: 1.2rem;
  font-weight: 700;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .5s ease-in-out;
}

.menu-item {
  margin-bottom: 1.5em;
  transition: color .5s ease-in-out, transform .5s ease-in-out;
}

.menu-item:hover {
  color: var(--accent-color);
  transform: scale(1.1);
}

.menu-item.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.nav-toggle-input:checked~.nav-menu {
  transform: scale(1, 1);
  transition: transform .5s ease-in-out;
}

/*--------------- Hero section ---------------*/

.hero-section {
  background: url("../images/hero-image.webp") center bottom/cover no-repeat;
  padding: 2em;
  height: 40em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-title,
.hero-description {
  background-color: var(--trade-bg-color);
}

.hero-title {
  font-weight: 700;
  padding: .5em .4em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  width: 90%;
}

.hero-description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 .5em .5em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  width: 90%;
}

/*--------------- Reasons section ---------------*/

.reasons-trading-section {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reasons-title {
  font-weight: 700;
  margin: 2rem auto;
}

.reasons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* NPC and speech bubble - used on the landing and feedback page */

.npc-container {
  height: 20rem;
  max-width: 21.875rem;
  width: 100%;
  padding: 1.1rem;
  position: relative;
}

.npc-container>* {
  position: absolute;
}

/* Positioning 1st + 3rd NPC's images on the right side */

.npc-container:nth-child(2n+1)>.npc-img {
  right: 1.1rem;
}

.npc-img {
  height: 80%;
}

/* Positioning 2nd NPC's speech bubble on the right side */

.npc-container:nth-child(2)>.speech-bubble {
  right: 1.1rem;
}

.speech-bubble {
  background-color: var(--main-bg-color);
  border: 2px solid var(--header-bg-color);
  border-radius: 50px;
  bottom: 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
  padding: 1rem 3rem;
}

.npc-name {
  position: absolute;
  bottom: 80%;
  left: 10%;
  background-color: var(--header-bg-color);
  border-radius: 50px;
  font-weight: 700;
  padding: .5rem;
}

.npc-speech {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

/* Buttons - used on the landing, about, contact and feedback pages */

.btn-form {
  display: flex;
  justify-content: center;
  margin: 1.1rem 1.1rem 0;
}

.btn {
  background-color: var(--header-bg-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
  color: inherit;
  cursor: pointer;
  font-family: 'Zilla Slab', serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.7px;
  margin: auto .2rem 2rem;
  padding: .7rem 2rem;
  text-transform: uppercase;
  transition: all 1s;
  white-space: normal;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  transition: all 1s;
}

/*--------------- Footer ---------------*/

.social-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 15rem;
}

.social-icon {
  height: 1.3rem;
}

/*=============== About page ===============*/

.about-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0;
  text-align: center;
}

.story-container {
  background-color: var(--main-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 2rem 1.1rem;
  padding: 2rem 1.1rem;
}

.story-img-container {
  max-width: 20rem;
  text-align: center;
  margin: auto;
}

.story-img {
  width: 100%;
}

.story-text {
  line-height: 2;
  width: 100%;
  padding: 0 1.1rem 1.1rem;
}

/*=============== Trade page ===============*/

.trade-title {
  background-color: var(--main-bg-color);
  font-size: 1.5rem;
  position: fixed;
  margin-top: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
  padding: 1rem;
}

.trade-title a {
  cursor: pointer;
  margin: 2rem .5rem;
  text-transform: uppercase;
  transition: color .5s ease-in-out;
}

.trade-title a:hover {
  color: var(--accent-color);
  transition: color .5s ease-in-out;
}

/*--------------- Trading guide ---------------*/

.trading-guide {
  background-color: var(--main-bg-color);
  padding: 8rem 1.1rem 1.5rem;
  position: relative;
  width: 100%;
}

.trading-guide::after,
.trading-guide::before {
  content: "";
  background-color: var(--main-bg-color);
  position: absolute;
  right: 100%;
  top: 0;
  height: 100%;
  width: 9999rem;
}

.trading-guide::after {
  left: 100%;
}

.trading-guide>ol {
  padding: 0 1.1rem 1.1rem;
  line-height: 1.5;
}

.date {
  position: absolute;
  right: 1.1rem;
  top: 90%;
}

/*--------------- Item list(sell, buy, trade) section ---------------*/

.trade-type-container {
  background-color: var(--trade-bg-color);
  padding: 1.1rem;
  scroll-margin-top: 7rem;
  width: 100%;
}

.trade-type {
  text-transform: uppercase;
}

/* Individual item */

.item-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: .7rem;
  margin-top: 1.5rem;
  width: 100%;
}

.item {
  background-color: var(--main-bg-color);
  border-radius: 5px;
  padding: .5rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-img {
  width: 70%;
  max-width: 13rem;
}

.item-name {
  font-size: .9rem;
  font-weight: 400;
  margin: 0 auto .5rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bell-img,
.ticket-img {
  width: 1.5rem;
}

/* Popup message */

.popup {
  position: absolute;
  bottom: 10%;
  right: 0;
  background-color: var(--header-bg-color);
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 1rem;
  text-align: center;
  z-index: 50;
}

/*=============== Contact page ===============*/

.contact-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 2rem 0;
  text-align: center;
}

.contact-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.contact-form {
  background-color: var(--main-bg-color);
  display: flex;
  padding: 1.1rem;
  flex-direction: column;
}

label {
  margin: 1rem 0 .3rem;
}

input {
  background-color: inherit;
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  padding: .5rem;
}

textarea {
  background-color: inherit;
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  margin-bottom: 2rem;
  padding: .5rem;
}

input:focus,
textarea:focus {
  outline: 3px solid var(--accent-color);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
}

#privacy ul {
  list-style-type: disc;
}

/*=============== Feedback(success, 404) page ===============*/

.feedback-main {
  align-items: center;
  justify-content: center;
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/

/*=============== Medium screen size devices from 48rem width  ===============*/

@media screen and (min-width: 48rem) {

  body {
    background: url("../images/leaf-pattern.png") top center / cover;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  /*--------------- Header ---------------*/

  .header {
    flex-direction: row;
  }

  .logo {
    width: 9em;
    margin: .5em 1em;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* Hide checkbox and collapsible navigation open/close icons */

  .nav-toggle-input,
  .nav-toggle-label {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    position: unset;
    transform: unset;
    width: unset;
  }

  .nav-menu>li {
    margin: auto 1em;
  }

  .menu-item {
    margin-bottom: unset;
  }

  /*--------------- Hero Section ---------------*/

  .hero-title,
  .hero-description {
    width: unset;
  }

  .hero-title {
    margin-top: 1.35em;
  }

  .hero-description {
    padding: 0 4.8em .5em;
  }

  /*--------------- About Page ---------------*/

  .stories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    max-width: 87.5rem;
    margin: auto;
  }

  .about-title,
  .story-container:nth-child(2) {
    grid-column: span 2;
    flex-direction: row;
  }

  .story-text {
    flex: 1;
  }

  .story-container:nth-child(2) .story-text {
    margin-left: 2rem;
  }

  /*--------------- Trade page ---------------*/

  .trade-title {
    margin-top: .7rem;
  }

  .trade-title a {
    margin: 2rem;
  }

  .item-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .item {
    padding: 2rem 0;
  }

  .item:first-child {
    grid-row: span 2;
  }

  #sell .item:last-child {
    grid-row: 3 / span 2;
    grid-column: 3;
  }

  #giveaway .item:nth-child(2) {
    grid-row: span 2;
  }

  .item-name {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1rem auto;
  }

  .price {
    font-size: 1.3rem;
  }

  .price-bell {
    margin-right: 1rem;
  }

}

/*=============== Large screen size devices from 64rem width  ===============*/

@media screen and (min-width: 64rem) {

  /*--------------- Landing page ---------------*/

  .reasons-container {
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem auto;
    max-width: 87.5rem;
  }

  .npc-container {
    height: 25rem;
  }

  .npc-container:nth-child(2n+1)>.npc-img,
  .npc-img {
    right: 0;
  }

  .npc-container:nth-child(2)>.speech-bubble {
    right: unset;
  }

  /*--------------- About Page ---------------*/

  .story-container:nth-child(2) {
    max-width: 70%;
    margin: auto;
  }

  /*--------------- Trade Page ---------------*/

  .trading-guide,
  .trade-type-container {
    max-width: 87.5rem;
    margin: auto;
  }

  .item-list {
    grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  }

  .item:first-child {
    grid-column: span 2;
  }

  #sell .item:nth-last-child(2),
  #sell .item:last-child {
    grid-row: 2 / span 2;
  }

  #sell .item:nth-last-child(2) {
    grid-column: 4;
  }

  #sell .item:last-child {
    grid-column: 5;
  }

  #buy .item:nth-child(2) {
    grid-row: span 2;
  }

  #buy .item:last-child {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
  }

  #giveaway .item {
    grid-row: span 2;
  }

  /*--------------- Contact Page ---------------*/

  .contact-form {
    max-width: 87.5rem;
    margin: auto;
    position: relative;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .contact-form label,
  .contact-form input,
  .contact-form small,
  .contact-form details {
    grid-column: 1;
  }

  .contact-form label[for="msg"],
  .contact-form textarea {
    grid-column: 2;
    grid-row: 2;
  }

  .contact-form textarea {
    grid-row: 3 / 14;
  }

  .contact-form input[type="submit"] {
    grid-column: span 2;
    margin-top: 2rem;
  }

  .contact-form::after,
  .contact-form::before {
    content: "";
    background-color: var(--main-bg-color);
    position: absolute;
    bottom: 0;
    right: 100%;
    height: 100%;
    width: 9999rem;
  }

  .contact-form::after {
    left: 100%;
  }

}