@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;700&family=Zilla+Slab:wght@400;700&display=swap');

/* custom property */

:root {
  --main-bg-color: #fffae4;
  --header-bg-color: #feed9f;
  --text-color: #5e5450;
  --accent-color: #fea600;
}

/* basic styling */

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* header style starts here */

.header {
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.logo {
  width: 6rem;
  margin: .5rem 1rem;
}

.nav {
  position: relative;
  width: 100%;
}

.nav>* {
  position: absolute;
}

.nav-toggle-input,
.nav-toggle-label {
  bottom: 100%;
  right: 1rem;
  margin-bottom: 1rem;
}

.nav-toggle-input {
  width: 2rem;
  height: 2rem;
  opacity: 0;
}

.fa-solid {
  cursor: pointer;
  position: absolute;
  height: 100%;
  right: .3rem;
  bottom: 1rem;
}

.fa-solid:hover {
  color: var(--accent-color);
  transition: color .5s ease-in-out;
}

.fa-bars {
  transform: scale(1, 1);
  transition: transform .5s ease;
}

.fa-xmark {
  transform: scale(1, 0);
  transition: transform .5s ease;
}

.nav-toggle-input:checked~.nav-toggle-label>.fa-solid {
  transform: scale(1, 0);
  transition: transform .5s ease;
}

.nav-toggle-input:checked~.nav-toggle-label>.fa-xmark {
  transform: scale(1);
  transition: transform .5s ease;
}

/* navigation menu hidden by default */

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--header-bg-color);
  left: 0;
  line-height: 2;
  list-style: none;
  margin: 0;
  padding: .7em;
  text-transform: uppercase;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .5s ease-out;
}

.nav-menu a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-toggle-input:checked~.nav-menu {
  transform: scale(1, 1);
  transition: transform .5s ease-in;
}

/* header style ends here */

main {
  background: url("../images/leaf-pattern.png") top center / cover;
  margin-top: 4rem;
}

/* hero section starts here */

.hero-section {
  padding: 2rem auto;
  margin-bottom: 2rem;
  text-align: center;
}

.acnh-logo {
  width: 30%;
  margin-top: 2rem;
  animation: swing 2s ease infinite;
}

@keyframes swing {
  0% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

.hero-title {
  font-family: 'Zilla Slab', serif;
  font-size: 2rem;
  font-weight: 700;
  margin: .5rem 0 1rem;
}

/* hero section ends here */

/* reasons section starts here */

.reasons-trading-section {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reasons-title {
  font-family: 'Zilla Slab', serif;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 2rem auto;
}

.reasons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

.reason-container {
  height: 250px;
  max-width: 350px;
  width: 100%;
  padding: 1.1rem;
  position: relative;
}

.reason-container>* {
  position: absolute;
}

/* positioning 1st + 3rd animal villager images */
.reason-container:nth-child(2n+1)>.reason-villager-img {
  right: 1.1rem;
}

.reason-villager-img {
  height: 70%;
}

/* positioning 2nd animal villager's speech bubble */
.reason-container:nth-child(2n)>.reason-speech-bubble {
  right: 1.1rem;
}

.reason-speech-bubble {
  background-color: var(--main-bg-color);
  border: 2px solid var(--header-bg-color);
  border-radius: 50px;
  bottom: 0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
  margin-bottom: 1rem;
  padding: .5rem 3rem;
}

.reason-villager-name {
  position: absolute;
  bottom: 80%;
  left: 10%;
  background-color: var(--header-bg-color);
  border-radius: 50px;
  font-weight: 700;
  padding: .5rem;
}

.reason-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}